# Homework 1: Python Basics

For this assignment:
* Please use base Python only with no imported packages
* Remember to include comments and display your outputs
* Make sure all cells are run before submitting on Canvas

### 1. List Practice [6 points]

In [139]:
# my shopping list
items = ["Apples", "Bananas", "Cherries", "Dates", "Figs"]
prices = [1.5, 0.6, 4.0, 3.5, 5.0]
quantities = [4, 6, 12, 8, 3]

#### a. Add grape details

Add the details for grapes to all three lists: 5 pounds of grapes at $2.50 per pound. View the updated lists.

In [140]:
# Add grapes to items
items.append('Grapes')
# Add Price of grapes to prices
prices.append(2.5)
# Add the quantity to buy to quantities
quantities.append(5)
for i in range(len(items)):
    print(f'Buy {quantities[i]} pounds of {items[i]} at the price ${prices[i]}')
print(items)
print(prices)
print(quantities)

Buy 4 pounds of Apples at the price $1.5
Buy 6 pounds of Bananas at the price $0.6
Buy 12 pounds of Cherries at the price $4.0
Buy 8 pounds of Dates at the price $3.5
Buy 3 pounds of Figs at the price $5.0
Buy 5 pounds of Grapes at the price $2.5
['Apples', 'Bananas', 'Cherries', 'Dates', 'Figs', 'Grapes']
[1.5, 0.6, 4.0, 3.5, 5.0, 2.5]
[4, 6, 12, 8, 3, 5]

#### b. Remove banana details

Remove banana details from all three lists. View the updated lists.

In [141]:
# Find the index of banana, then remove it from each list
index_banana = items.index('Bananas')
# pop it from each list
items.pop(index_banana)
prices.pop(index_banana)
quantities.pop(index_banana)
# Print out each list
print(items)
print(prices)
print(quantities)

['Apples', 'Cherries', 'Dates', 'Figs', 'Grapes']
[1.5, 4.0, 3.5, 5.0, 2.5]
[4, 12, 8, 3, 5]

#### c. Create a `discounted_prices` list

Using a `for` loop and `if-else` statements, apply a 10% discount to cherries and a 20% discount to figs from the original `prices` list. Keep the original prices for all other items. Display the `discounted_price` list.

In [142]:
# Use dictionary to store discount
discount = {'Cherries': 0.1, 'Figs': 0.2}
discounted_prices = prices
# Apply discount to each item
for fruit in items:
    if fruit in discount:
        discounted_prices[items.index(fruit)] *= (1 - discount[fruit])
    else:
        continue
# Print the new discounted_price
print(discounted_prices)

[1.5, 3.6, 3.5, 4.0, 2.5]

#### d. Understand the `zip` function

Describe what's happening in the code below with the `list` and `zip` functions and why it's helpful to create a combined list.

In [143]:
# The zip function matches each element of different lists and combine them into a tuple. The tuples formed with elements from the original lists are used to form a new list.
combined_lists = list(zip(discounted_prices, items, quantities))
combined_lists

[(1.5, 'Apples', 4),
 (3.6, 'Cherries', 12),
 (3.5, 'Dates', 8),
 (4.0, 'Figs', 3),
 (2.5, 'Grapes', 5)]

<span style="color: green;"> Answer: The zip function matches each element of different lists and combine them into tuples. The tuples formed with elements from the original lists are used to form a new list.

#### e. Sort the combined list

Sort the items in the combined list by discounted price, in descending order. View the sorted list.

In [144]:
# Use the first element of each tuple to sort
new_combined_lists = sorted(combined_lists, key = lambda x: x[0], reverse = True)
print(new_combined_lists)

[(4.0, 'Figs', 3), (3.6, 'Cherries', 12), (3.5, 'Dates', 8), (2.5, 'Grapes', 5), (1.5, 'Apples', 4)]

#### f. Calculate the total cost

Print out the total cost of the final shopping list (includes grapes and doesn't include bananas) using the discounted prices and quantities. The output should be in the format $xxx.xx.

In [145]:
# Add the price of each fruit to total_cost
total_cost = 0
for item in new_combined_lists:
    total_cost += item[0] * item[2]
print(f'The total prices for item bought is ${total_cost}')

The total prices for item bought is $101.7

### 2. Dictionary Practice [6 points]

In [146]:
# my student dictionary
grades = {
    "Ava": 85,
    "Bob": 90,
    "Cat": 78,
    "Dan": 92
}

#### a. Add a new student Eve (grade = 88) if she doesn't exist. Display the `grades` dictionary.

In [147]:
# Check if Eve is in the dictionary
if 'Eve' not in grades:
    grades['Eve'] = 88
# Display grades
print(grades)

{'Ava': 85, 'Bob': 90, 'Cat': 78, 'Dan': 92, 'Eve': 88}

#### b. Update Bob's grade to 95 only if it's higher than the average. Display the `grades` dictionary.

In [148]:
# Calculate the average based on the scores
average = sum(grades.values()) / len(grades.values())
# Compare Bob's grades to the average
if grades['Bob'] > average:
    grades['Bob'] = 95
# Display grades
print(grades)

{'Ava': 85, 'Bob': 95, 'Cat': 78, 'Dan': 92, 'Eve': 88}

#### c. Describe what's happening in the code below with the `key=lambda item:` portions

In [149]:
# Sort the dictionary based on the first item of each element
sorted(grades.items(), key=lambda item: item[0])

[('Ava', 85), ('Bob', 95), ('Cat', 78), ('Dan', 92), ('Eve', 88)]

In [150]:
# Sort the dictionary based on the second item of each element
sorted(grades.items(), key=lambda item: item[1])

[('Cat', 78), ('Ava', 85), ('Eve', 88), ('Dan', 92), ('Bob', 95)]

<span style="color: green;"> Answer: The "lambda" function takes in each element of the iterable and return a instruction expression.

#### d. Remove the student with the second lowest grade. Display the `grades` dictionary.

In [151]:
# Rank students by score
scores_rank = sorted(grades.items(), key=lambda item: item[1])
# Find the person with the second lowest grade
print(scores_rank)

[('Cat', 78), ('Ava', 85), ('Eve', 88), ('Dan', 92), ('Bob', 95)]

In [152]:
# Remove Ava from the dictionary
del grades['Ava']
print(grades)

{'Bob': 95, 'Cat': 78, 'Dan': 92, 'Eve': 88}

#### e. Print out the remaining students and their grades, from highest to lowest grade.

In [153]:
# Rank student with the grades
scores_rank_2 = sorted(grades.items(), key=lambda item: item[1], reverse = True)
for student in scores_rank_2:
    print(f'{student[0]} has a grade {student[1]}')

Bob has a grade 95
Dan has a grade 92
Eve has a grade 88
Cat has a grade 78

#### f. Create a list of the remaining student names who scored above an 80. Display the list.

In [154]:
# Create the list using list comprehension
above_80 = [i[0] for i in scores_rank_2 if i[1] > 80]
print(above_80)

['Bob', 'Dan', 'Eve']

### 3. Function Practice [3 points]

Given a string, write a function to reverse the string:

* reverseString('abcdef') will return 'fedcba'
* reverseString('moon') will return 'noom

#### a. Write a function using slicing and apply it to the two test cases [1 point]

In [155]:
# Create the test string
str1 = 'abcdef'
str2 = 'moon'

In [156]:
def reverse_str1(str):
    """
    Reverse the given string using slicing
    
    Parameter:
    str(string): The string to reverse

    Return:
    The reversed string
    """
    # Return the str using slicing, select the whole string and start from the last character
    return str[:: -1]
print(reverse_str1(str1))
print(reverse_str1(str2))

fedcba
noom

#### b. Write a function using a loop and apply it to the two test cases [2 points]

In [157]:
def reverse_str2(str):
    """
    Reverse the given string using loop

    Parameter:
    str(string): The string to reverse

    Return:
    The reversed string
    """
    #Create a new string as output
    result = ''
    l = len(str)
    while l != 0:
        # Starting from the last character, add it to the output
        result += str[l - 1: l]
        l -= 1
    return result
print(reverse_str2(str1))
print(reverse_str2(str2))

fedcba
noom

### 4. Loop Practice [5 points]

#### a. Describe what's happening in the code below with `while` [1 point]

In [158]:
count = 1
# Loop until count equals to 5, in each cycle add 1 to the original count value
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

<span style="color: green;"> Answer: Loop until count equals to 5, in each cycle add 1 to the original count value

#### b. Write a function using a while loop and apply it to the two test cases [4 points]

Write a function that takes a number between 1 and 100 and tries to guess it. The function should make guesses and change them based on whether the guess is too high or too low, repeating this until it finds the right number.

* guess(13) should return "I got it right in `x` tries."
* guess(75) should return "I got it right in `y` tries."

Points:
* 2 points for writing a function that's able to guess a number in x tries
* 1 point for using an optimal approach (fewest number of tries)
* 1 point for well-organized and commented code

In [159]:
def guess(num: int):
    """
    Guess a number between 1 and 100.
    
    Parameters:
    num (int): The number to guess, must be between 1 and 100.
    
    Returns:
    str: A message indicating the number of tries taken to guess the number.
    """
    
    # Validate the input
    if not (1 <= num <= 100):
        return "The number should be between 1 and 100."
    
    low, high = 1, 100    # Set the two bounds of the guessing range
    tries = 0        # Initialize the number of tries
    
    while low <= high:
        tries += 1                   # Increment the number of tries
        guess = (low + high) // 2    # Make a guess using binary search
        
        if guess < num:           # If the guess is too low, narrow it to the higher number
            low = guess + 1          
        elif guess > num:         # If the guess is too high, narrow it to the lower number
            high = guess - 1         
        else:                         # If the guess is correct
            return f"I got it right in {tries} tries."
    
    return "Something went wrong. The number is not between 1 and 100."

In [160]:
guess(13)

'I got it right in 6 tries.'

In [161]:
guess(75)

'I got it right in 2 tries.'

In [162]:
for i in range(100):
    print(f'With {i} in mind, {guess(i)}')

With 0 in mind, The number should be between 1 and 100.
With 1 in mind, I got it right in 6 tries.
With 2 in mind, I got it right in 7 tries.
With 3 in mind, I got it right in 5 tries.
With 4 in mind, I got it right in 6 tries.
With 5 in mind, I got it right in 7 tries.
With 6 in mind, I got it right in 4 tries.
With 7 in mind, I got it right in 6 tries.
With 8 in mind, I got it right in 7 tries.
With 9 in mind, I got it right in 5 tries.
With 10 in mind, I got it right in 6 tries.
With 11 in mind, I got it right in 7 tries.
With 12 in mind, I got it right in 3 tries.
With 13 in mind, I got it right in 6 tries.
With 14 in mind, I got it right in 7 tries.
With 15 in mind, I got it right in 5 tries.
With 16 in mind, I got it right in 6 tries.
With 17 in mind, I got it right in 7 tries.
With 18 in mind, I got it right in 4 tries.
With 19 in mind, I got it right in 6 tries.
With 20 in mind, I got it right in 7 tries.
With 21 in mind, I got it right in 5 tries.
With 22 in mind, I got it right in 7 tries.
With 23 in mind, I got it right in 6 tries.
With 24 in mind, I got it right in 7 tries.
With 25 in mind, I got it right in 2 tries.
With 26 in mind, I got it right in 6 tries.
With 27 in mind, I got it right in 7 tries.
With 28 in mind, I got it right in 5 tries.
With 29 in mind, I got it right in 6 tries.
With 30 in mind, I got it right in 7 tries.
With 31 in mind, I got it right in 4 tries.
With 32 in mind, I got it right in 6 tries.
With 33 in mind, I got it right in 7 tries.
With 34 in mind, I got it right in 5 tries.
With 35 in mind, I got it right in 6 tries.
With 36 in mind, I got it right in 7 tries.
With 37 in mind, I got it right in 3 tries.
With 38 in mind, I got it right in 6 tries.
With 39 in mind, I got it right in 7 tries.
With 40 in mind, I got it right in 5 tries.
With 41 in mind, I got it right in 6 tries.
With 42 in mind, I got it right in 7 tries.
With 43 in mind, I got it right in 4 tries.
With 44 in mind, I got it right in 6 tries.
With 45 in mind, I got it right in 7 tries.
With 46 in mind, I got it right in 5 tries.
With 47 in mind, I got it right in 7 tries.
With 48 in mind, I got it right in 6 tries.
With 49 in mind, I got it right in 7 tries.
With 50 in mind, I got it right in 1 tries.
With 51 in mind, I got it right in 6 tries.
With 52 in mind, I got it right in 7 tries.
With 53 in mind, I got it right in 5 tries.
With 54 in mind, I got it right in 6 tries.
With 55 in mind, I got it right in 7 tries.
With 56 in mind, I got it right in 4 tries.
With 57 in mind, I got it right in 6 tries.
With 58 in mind, I got it right in 7 tries.
With 59 in mind, I got it right in 5 tries.
With 60 in mind, I got it right in 6 tries.
With 61 in mind, I got it right in 7 tries.
With 62 in mind, I got it right in 3 tries.
With 63 in mind, I got it right in 6 tries.
With 64 in mind, I got it right in 7 tries.
With 65 in mind, I got it right in 5 tries.
With 66 in mind, I got it right in 6 tries.
With 67 in mind, I got it right in 7 tries.
With 68 in mind, I got it right in 4 tries.
With 69 in mind, I got it right in 6 tries.
With 70 in mind, I got it right in 7 tries.
With 71 in mind, I got it right in 5 tries.
With 72 in mind, I got it right in 7 tries.
With 73 in mind, I got it right in 6 tries.
With 74 in mind, I got it right in 7 tries.
With 75 in mind, I got it right in 2 tries.
With 76 in mind, I got it right in 6 tries.
With 77 in mind, I got it right in 7 tries.
With 78 in mind, I got it right in 5 tries.
With 79 in mind, I got it right in 6 tries.
With 80 in mind, I got it right in 7 tries.
With 81 in mind, I got it right in 4 tries.
With 82 in mind, I got it right in 6 tries.
With 83 in mind, I got it right in 7 tries.
With 84 in mind, I got it right in 5 tries.
With 85 in mind, I got it right in 7 tries.
With 86 in mind, I got it right in 6 tries.
With 87 in mind, I got it right in 7 tries.
With 88 in mind, I got it right in 3 tries.
With 89 in mind, I got it right in 6 tries.
With 90 in mind, I got it right in 7 tries.
With 91 in mind, I got it right in 5 tries.
With 92 in mind, I got it right in 6 tries.
With 93 in mind, I got it right in 7 tries.
With 94 in mind, I got it right in 4 tries.
With 95 in mind, I got it right in 6 tries.
With 96 in mind, I got it right in 7 tries.
With 97 in mind, I got it right in 5 tries.
With 98 in mind, I got it right in 7 tries.
With 99 in mind, I got it right in 6 tries.